.lessons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin: 3vw 0;
    width: 100%;
}

.lesson {
    width: 20%;
    background-color: #FFDEB2;
    border-radius: 5px;
    border: 0.7vmin solid #5F2300;
    margin: 2vmin 1.5vmin;
    padding: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    color: #5F2300;
    cursor: pointer;
    transition: 0.5s;
    flex-direction: column;
}

.disabled {
    background-color: #ffdeb287;
    border: 0.7vmin solid #5f23008c;
    color: #5f23006a;
    pointer-events: none;
}

.lesson:hover {
    transform: translateY(-0.5vw);
}

#complete {
    margin-top: 0.5vw;
    margin-bottom: -1.8vw;
    width: calc(100% + 3.5vw);
    color: white;
    background-color: #58C189;
    border-radius: 5px;
    border: 0.5vmin solid #5F2300;
}

@media screen and (orientation: portrait) {
    .lessons {
        margin: 7vw 0;
    }

    .lesson {
        width: 80vmin;
        font-size: 5.5vw;
        border: 1vmin solid #5F2300;
        padding: 4vw;
    }

    .lesson:hover {
        transform: translateY(-1.7vw);
    }

    #complete {
        margin-bottom: -4.5vw;
        width: calc(100% + 9.5vw);
        border: 0.8vmin solid #5F2300;
    }
}