# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/capyanoonl/capyano-backend"
PassengerBaseURI "/"
PassengerNodejs "/home/capyanoonl/nodevenv/capyano-backend/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
