#practice {
    font-weight: bold;
    font-size: 2vw;
    color: #8A3100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

@media screen and (orientation: portrait) {
    #currentNote {
        display: none;
    }
}